/* BANNER SEARCH */
@media screen and (min-width: 1201px) {

    #bannerSearch h2 {
        font-size: 48px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    #bannerSearch .popularSearch {
        display: none;
    }

    #bannerSearch h2 {
        font-size: 48px;
    }
}

@media screen and (min-width: 576px) and (max-width: 990px) {
    #bannerSearch .popularSearch {
        display: none;
    }

    #bannerSearch h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {

    #bannerSearch .popularSearch {
        display: none;
    }

    #bannerSearch h2 {
        font-size: 30px;
    }
}

#bannerSearch {
    height: 100%;
    width: 100%;
}

#bannerSearch h2 {
    font-weight: 600;
    line-height: 1.2;
}

#bannerSearch input {
    margin-left: 0;
}

#bannerSearch .popularSearchBtn {
    border: 1px solid white;
    border-radius: 40px;
    padding: 0 12px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    transition: .3s;
}

#bannerSearch .popularSearchBtn:hover {
    color: black;
    background-color: white;
}