/* BANNER */
@media screen and (min-width: 1401px) {

    #banner {
        height: 70vh;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    #banner {
        height: 96vh;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {

    #banner {
        height: 92vh;
    }
}

@media screen and (min-width: 576px) and (max-width: 990px) {

    #banner {
        height: 70vh;
    }
}

@media screen and (max-width: 575px) {

    #banner {
        height: 58vh;
    }
}

#banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#banner .owl-carousel,
#banner .owl-stage-outer,
#banner .owl-stage,
#banner .owl-item {
    height: 100%;
}

#banner .owl-carousel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#banner .owl-carousel img {
    object-fit: cover;
    height: 100%;
}