/* BENEFIT */
#benefit {
    background-color: #f0fdf6;
}

#benefit .content {
    padding-right: 0;
    padding-left: 0;
}

#benefit .content h2 {
    color: #404145;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

#benefit .content h4 {
    color: rgba(0, 0, 0, .85);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

#benefit .content i {
    color: rgb(122, 125, 133);
    font-size: 24px;
    transform: translateY(5px);
}

#benefit .media img {
    width: 100%;
}

#benefit .media button {
    position: relative;
}

#benefit .media button:focus {
    outline: none;
}

#benefit .media button::after {
    content: '';
    width: 15%;
    height: 100%;
    display: inline-block;
    background-image: url(../../public/images/desktop-play-button.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 37%;
    left: 42.5%;
}

.ant-modal {
    top: 5%;
}

#benefit .ant-modal .ant-modal-content {
    padding: 10px 25px 10px 10px;
}

.ant-modal .ant-modal-content .ant-modal-close {
    right: 2px;
    top: 2px;
}

.ant-modal .ant-modal-content .ant-modal-close:hover {
    background: transparent;
}

.ant-modal .ant-modal-content video {
    min-height: fit-content;
    max-height: 85vh;
    max-width: 85vw;
}

#benefit video {
    display: block;
    width: 80%;
    height: auto;
}