/* FOOTER */
#footer {
    color: #74767e;
    border-top: 1px solid #e4e5e7;
}

#footer .container .footer__top h4 {
    color: #404145;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

#footer.footerDesktop .container .footer__top li,
#footer.footerTablet .container .footer__top li,
#footer.footerMobile .container .footer__top li,
#footer.footerSmallMobile .container .footer__top li {
    color: #404145;
    font-weight: 300;
}

#footer.footerTablet .container .footer__top li,
#footer.footerMobile .container .footer__top li,
#footer.footerSmallMobile .container .footer__top li {
    font-size: 12px;
}

#footer .container .footer__top li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

#footer .container .footer__top li:hover a {
    color: #404145;
}

#footer .container .footer__top li p {
    color: #b5b6ba;
}

#footer.footerTablet .container .footer__top li p,
#footer.footerMobile .container .footer__top li p,
#footer.footerSmallMobile .container .footer__top li p {
    font-size: 14px;
}

#footer .container .footer__bottom {
    border-top: 1px solid #e4e5e7;
}

#footer .container .footer__bottom .left .copyright {
    color: #b5b6ba;
    font-size: 14px;
    font-weight: 300;
}

#footer .container .footer__bottom .right .icon {
    font-size: 18px;
}

#footer .container .footer__bottom .right .icon a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: transparent;
    text-align: center;
    line-height: 32px;
    transition: .2s;
}

#footer .container .footer__bottom .right .icon a:hover {
    background-color: #efeff0;
}

#footer .container .footer__bottom .right .setting {
    font-size: 14px;
    font-weight: 600;
}

#footer .container .footer__bottom .right .setting button {
    padding: 8px 12px;
    transition: .2s;
}

#footer .container .footer__bottom .right .setting button:hover {
    background-color: #f5f5f5;
    border-radius: 54px;
}

#footer .container .footer__bottom .right .setting button:last-of-type {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid #74767e;
    text-align: left;
    line-height: 16px;
}

#footer .container .footer__bottom .right .setting button:last-of-type:hover {
    color: #404145;
    border: none;
}