/* ITEM JOB */
#listJob .ant-card,
#listJob .ant-card img {
    border-radius: 0;
}

#listJob .ant-card.ant-card-bordered {
    border: 1px solid #dadbdc;
}

#listJob .ant-card .ant-card-body {
    padding: 10px 12px;
    font-family: 'Montserrat', sans-serif;
}

#listJob .ant-card .ant-card-body .cardTitle .name h4 {
    color: #222325;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    text-transform: capitalize;
}

#listJob .ant-card .ant-card-body .cardTitle .name p {
    color: #74767e;
    font-weight: 600;
}

#listJob .ant-card .ant-card-body .jobDesc {
    display: inline-block;
    color: #222325;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    transition: .15s;
    margin: 20px 0 25px 0;
    height: 65px;
}

#listJob .ant-card .ant-card-body .jobDesc:hover {
    color: #1dbf73;
}

#listJob .ant-card .ant-card-body .rating .anticon-star {
    color: #ffbe5b;
    font-size: 15px;
}

#listJob .ant-card .ant-card-body .rating p:first-of-type {
    color: #ffbe5b;
    font-weight: 700;
}

#listJob .ant-card .ant-card-body .rating p:last-of-type {
    color: #b5b6ba;
    font-weight: 500;
}

#listJob .ant-card .ant-card-actions {
    padding: 0 12px;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid #dadbdc;
}

#listJob .ant-card .ant-card-actions .anticon-heart {
    color: #b5b6ba;
    font-size: 15px;
}

#listJob .ant-card .ant-card-actions p {
    display: inline-block;
    color: #74767e;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
}

#listJob .ant-card .ant-card-actions span {
    color: #404145;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}