/* MODAL */
.modal__container {
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    min-height: fit-content;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    position: relative;
}

.modal__container video {
    display: block;
    min-height: fit-content;
    max-height: 85vh;
    max-width: 85vw;
    width: 95%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

.modal__container .modal-close {
    position: absolute;
    right: 7px;
    top: 5px;
    font-weight: 600;
}